{% extends 'layoutEmail.html.twig' %}

{% block title %}New Program{% endblock %}

{% block header1 %}New program {{ program.title }} created{% endblock %}

{% block main_Paragraph %}<p> Hello, the new program {{ program.title }} has been created on Wild Series </p> {% endblock %}

{% block secondary %}<p>Summary : {{program.summary }}</p>{% endblock %}

