{% block nav %}
    <div class="fixed-top">
        <nav class="navbar navbar-dark bg-dark">
            <nav class="navbar navbar-light">
                <a class="navbar-brand" href="/">
                    <h1>WILD SERIES</h1>
                </a>
            </nav>
        </nav>
    </div>
{% endblock %}

